<div class="container">
  <div class="quadro">
  <div class="linha ativa">
    <input class="celula ativa" type="text" maxlength="1" (keyup.enter)="enviarPalavra()">
    <input class="celula ativa" type="text" maxlength="1" (keyup.enter)="enviarPalavra()">
    <input class="celula ativa" type="text" maxlength="1" (keyup.enter)="enviarPalavra()">
    <input class="celula ativa" type="text" maxlength="1" (keyup.enter)="enviarPalavra()">
    <input class="celula ativa" type="text" maxlength="1" (keyup.enter)="enviarPalavra()">
  </div>
  <div class="linha">
    <input class="celula" type="text" maxlength="1" (keyup.enter)="enviarPalavra()" disabled>
    <input class="celula" type="text" maxlength="1" (keyup.enter)="enviarPalavra()" disabled>
    <input class="celula" type="text" maxlength="1" (keyup.enter)="enviarPalavra()" disabled>
    <input class="celula" type="text" maxlength="1" (keyup.enter)="enviarPalavra()" disabled>
    <input class="celula" type="text" maxlength="1" (keyup.enter)="enviarPalavra()" disabled>
  </div>
  <div class="linha">
    <input class="celula" type="text" maxlength="1" (keyup.enter)="enviarPalavra()" disabled>
    <input class="celula" type="text" maxlength="1" (keyup.enter)="enviarPalavra()" disabled>
    <input class="celula" type="text" maxlength="1" (keyup.enter)="enviarPalavra()" disabled>
    <input class="celula" type="text" maxlength="1" (keyup.enter)="enviarPalavra()" disabled>
    <input class="celula" type="text" maxlength="1" (keyup.enter)="enviarPalavra()" disabled>
  </div>
  <div class="linha">
    <input class="celula" type="text" maxlength="1" (keyup.enter)="enviarPalavra()" disabled>
    <input class="celula" type="text" maxlength="1" (keyup.enter)="enviarPalavra()" disabled>
    <input class="celula" type="text" maxlength="1" (keyup.enter)="enviarPalavra()" disabled>
    <input class="celula" type="text" maxlength="1" (keyup.enter)="enviarPalavra()" disabled>
    <input class="celula" type="text" maxlength="1" (keyup.enter)="enviarPalavra()" disabled>
  </div>
  <div class="linha">
    <input class="celula" type="text" maxlength="1" (keyup.enter)="enviarPalavra()" disabled>
    <input class="celula" type="text" maxlength="1" (keyup.enter)="enviarPalavra()" disabled>
    <input class="celula" type="text" maxlength="1" (keyup.enter)="enviarPalavra()" disabled>
    <input class="celula" type="text" maxlength="1" (keyup.enter)="enviarPalavra()" disabled>
    <input class="celula" type="text" maxlength="1" (keyup.enter)="enviarPalavra()" disabled>
  </div>
  <div class="linha">
    <input class="celula" type="text" maxlength="1" (keyup.enter)="enviarPalavra()" disabled>
    <input class="celula" type="text" maxlength="1" (keyup.enter)="enviarPalavra()" disabled>
    <input class="celula" type="text" maxlength="1" (keyup.enter)="enviarPalavra()" disabled>
    <input class="celula" type="text" maxlength="1" (keyup.enter)="enviarPalavra()" disabled>
    <input class="celula" type="text" maxlength="1" (keyup.enter)="enviarPalavra()" disabled>
  </div>
</div>
<div>
  <button (click)="reiniciar()">REINICIAR</button>
</div>
</div>
